.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-height: 300px;
  align-items: center;
}

.flexItem {
  background-color: blue;
  padding: 10px;
}

.flexItem:nth-child(2) {
  background-color: brown;
}

.flexItem:nth-child(3) {
  background-color: yellow;
}
